
:root {
    --bg-color: #212326;
    --text-color: #ffffff;
    --green-color: #72b353;
    --orange-color: #ff8c00;
   
    --shadow-light: #373d48;
    --shadow-dark: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}


.calculator {
    background-color: var(--bg-color);
    width: 100%;
    max-width: 340px; 
    padding: 25px;
    border-radius: 30px;
    box-shadow: 20px 20px 60px var(--shadow-dark), 
                -20px -20px 60px var(--shadow-light);
}


.display {
    margin-bottom: 30px;
    padding: 10px;
}

.display input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    text-align: right;
    font-size: 45px;
    color: var(--text-color);
    font-weight: 300;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 18px; 
}   

button {
    aspect-ratio: 1/1; 
    border-radius: 50%;
    border: none;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    
    
    box-shadow: 6px 6px 12px var(--shadow-dark), 
                -6px -6px 12px var(--shadow-light);
}


button:active {
    box-shadow: inset 4px 4px 8px var(--shadow-dark), 
                inset -4px -4px 8px var(--shadow-light);
    transform: scale(0.95);
}


.operator-green {
    color: var(--green-color);
}

.equal {
    background-color: var(--orange-color);
    color: white;
    box-shadow: 6px 6px 12px #1c1e23, -2px -2px 10px var(--shadow-light);
}


@media (max-width: 400px) {
    .calculator {
     padding: 15px;
    }

    .buttons {
        gap: 12px; 
    }

    button {
        font-size: 18px;
    }

    .display input {
        font-size: 35px;
    }
}