body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f0f2f5;
}

.container {
    text-align: center;
    margin-top: 80px;
}

.logo {
    color: #1877f2;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

.tagline {
    font-size: 20px;
    margin-bottom: 30px;
}

.login-box {
    width: 350px;
    background: white;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.login-box input {
    width: 80%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 1px solid #dddfe2;
    font-size: 15px;
}

.login-box button {
    width: 80%;
    padding: 12px;
    background-color: #1877f2;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: progress;
}

.login-box button:hover {
    background-color: #f21823;
    color: black;
}
    

.forgot {
    display: block;
    margin: 12px 0;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

.login-box .account button {
    background: #36a420;
    font-size: 16px;
    width: 60%;
}

body {
     font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
      background-color: #f0f2f5;
       display: flex; 
      justify-content: center; 
      align-items: center;
      height: 100vh;
     margin: 0;
    
    }

.container { 
    text-align: center;
     width: 430px;
     }

.logo { 
    color: #1877f2;
    font-size: 50px;
     margin-bottom: 20px; 
     font-weight: bold;
     }

.card {
     background: #fff;
      padding: 16px;
       border-radius: 8px; 
       box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        text-align: left;
}
.card-header h2 {
     margin: 0;
      font-size: 25px; 
    }

.card-header p { 
    color: #606770;
     margin: 5px 0;
      font-size: 15px;
     }

hr {
     border: 0.5px solid #dadde1;
      margin: 15px 0; 
    }

.row { 
    display: flex;
    gap: 10px; 
    margin-bottom: 12px; 
  }

input, select {
    padding: 11px; 
    border: 1px solid #dddfe2; 
    background-color: #f5f6f7;
    border-radius: 5px; 
    font-size: 15px; 
    width: 100%;
    box-sizing: border-box; 
    }

input:focus { 
    outline: none;
    border-color: #1877f2;
    }

.label-text {
    font-size: 12px;
    color: #606770;
    display: block;
     margin-bottom: 5px; 
    }

.gender-box label {
     border: 1px solid #dddfe2; 
     padding: 10px; 
     display: flex; 
     align-items: center; 
     justify-content: space-between; 
     width: 100%; 
     border-radius: 5px; 
     font-size: 15px; 
    }

.full-width {
    margin-bottom: 12px; 
    width: 100%; 
}

.terms { 
    font-size: 11px; 
    color: #777; 
    margin: 10px 0; 
    line-height: 1.3; 
}

.signup-btn { 
    background-color: #00a400; 
    color: white; 
    font-weight: bold; 
    font-size: 18px; 
    border: none; 
    border-radius: 6px; 
    padding: 8px 50px; 
    display: block; 
    margin: 20px auto; 
    cursor: progress; 
    width: 200px; 
}

.signup-btn:hover { 
    background-color: red; 
}

.already-account { 
    text-decoration: none; 
    color: #1877f2; 
    font-size: 16px; 
    font-weight: 500; 
}
.already-account:hover {
    color: #1877f2;
    transform: scale(1.1);


}